<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/admin/admin.css">
    <style>
        .row-false{
            background-color: rgb(185, 44, 44);

        }
        .row-true{
            background-color: rgb(0, 77, 5);
        }

    </style>
</head>

<body>
    <div class="nav">
        <h2>Service Providers</h2>
        <br>
        <br>
        <ul>
            <li><a  href="/admin/">Home</a></li>
            <li><a class="active" href="/admin/sp" name="service">Service Provider</a></li>
            <li><a href="/admin/emp" name="employee">Employee</a></li>
            <li><a href="/admin/customer" name="cutomer">Customers</a></li>
        </ul>
        <h3>Add</h3>
        <ul>
            <li><a href="/admin/dist">City</a></li>
            <li><a href="/admin/category">Category</a></li>
        </ul>
        <h3>Logout</h3>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
        </div> 
    </div>
    <div style="margin-left:15%;padding:1px 16px;height:1000px;">
        <main id="site-main">
            <!-- form handling -->
            <form>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>  
                            <th>Name</th>
                            <th>email</th>
                            <th>mobile</th>
                            <th>City</th>
                            <th>category</th>
                            <th>Approve/Reject</th>

                        </tr>
                    </thead>
                    <tbody>
                            <% for(var i=0; i < sp.length; i++) { %>
                                <tr class="row-<%= sp[i].approved%>">
                                    <td>
                                        <%= sp[i].name %>
                                    </td>
                                    <td>
                                        <%= sp[i].email %>
                                    </td>
                                    <td>
                                        <%= sp[i].phone %>
                                    </td>
                                    <td>
                                        <%= sp[i].dist %>
                                    </td>
                                    <td>
                                        <%= sp[i].category %>
                                    </td>
                                    <td>
                                        <a href="/approve/sp?id=<%= sp[i]._id%>" class="btn border-shadow update">
                                            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                        </a>
                                        <a  href ="/approve/delete/sp?id=<%= sp[i]._id%>"class="btn border-shadow delete">
                                            <!-- check assets/index.js -->
                                            <span class="text-gradient"><i class="fas fa-times"></i></span>
                                        </a>
                                    </td>
                                </tr>
                                <% } %>
                    </tbody>
                </table>
            </form>
    </div>
    </main>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>


</html>